.register-section {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  background-color: var(--white-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form input,
.register-form select {  /* Style for select */
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-form button {
  padding: 0.8rem;
  background-color: var(--purple-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-form button:hover {
  background-color: #731f91;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-bottom: 1rem;
}
